#root {
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: aliceblue;
  background-color: #212121;
  background:
    linear-gradient(
      to bottom,
      rgba(238, 56, 19, 0.35) 0px,
      rgba(12, 12, 12, 0.40) 500px
    ),
    linear-gradient(
      180deg,
      rgba(22, 22, 22, 0.92),
      rgba(12, 12, 12, 0.98)
    );

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;

}

