.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  max-width: 320px;
  margin: 120px auto;
}

.input {
  padding: 6px 10px;
  font-size: 0.9rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: grey;
}


.button {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #45a049;
}

.secondaryButton {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: 1px solid #4caf50;
  border-radius: 4px;
  background-color: transparent;
  color: #4caf50;
  cursor: pointer;
}

.loggedInBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #222;
  color: #fff;
  padding: 12px;
  border-radius: 6px;
}
