.footer {
  width: 100%;
  padding: 12px 0;
  background-color: rgb(40, 39, 39);
  color: white;
  text-align: center;
  font-size: 0.95rem;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}